<section class="navbar-wrapper">
  <ul class="navbar">
    <li class="navbar_sections"><%= link_to "contact", contact_path, class: "navbar_links" %></li>
    <li class="navbar_sections">proyects</li>
    <li class="navbar_sections"><%= link_to "about", about_path, class: "navbar_links" %></li>
    <li class="navbar_sections">hello</li>
  </ul>
</section>

<section>
  <div>
    <p>Hi there</p>
    <p>I'm Trini!</p>
  </div>
  <%=  image_tag('img-trini')%>
</section>

<section>
  <h1>About Me</h1>
  <div>
    <p>I have studied psychology, cinema and law and have led substantive research in the social and human rights fields. I'm keen on using my skills in tech to keep on driving innovation and sustainable development.</p>
    <p>My diverse background has helped me strengthen user and market´s behavioural insights and allow me to create strong user experiences through thoughtful design in web development.</p>
  </div>
</section>

<section>
  <h1>Projects</h1>
  <div class="projects-carrousel">
  <%=  image_tag('img-betoogreen') %>
  </div>
</section>





