
<div class="navbar_section">
  <ul class="navbar">
    <li class="navbar_sections"><%= link_to "contact", contact_path, class: "navbar_links" %></li>
    <li class="navbar_sections">proyects</li>
    <li class="navbar_sections"><%= link_to "about", about_path, class: "navbar_links" %></li>
    <li class="navbar_sections">hello</li>
  </ul>
</div>

<div>
  <div class="square-row"></div>

</div>




